main {
  min-height: 100vh;
  background: linear-gradient(135deg, #5e35b1 0%, #7e67c2 100%);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;

  h4 {
    font-size: 2.125rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;
    line-height: 1.235;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    margin-bottom: 32px;
  }

  form {
    width: 400px;
    height: 247.28px;
    border-radius: 24px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    p {
      color: black;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      color: #1f2937;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 32px;
    }
    button {
      background: #fff;
      padding: 5px 15px;
      border: 1px solid;
      box-sizing: border-box;
      border-radius: 12px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 10px;
      }

      &:hover {
        border: 1px solid #5e35b1;
        box-shadow:
          0 3px 6px rgba(0, 0, 0, 0.16),
          0 3px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }
}
