.menu-icon {
    color: white;
}

span {
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.loginMenu {
    background: rgba(255, 255, 255, 0.1);

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}
